
/*
 ** main settings for the whole site **
 */

body {
  font-family: $font-family-main;
  height: 100%;  
}

/*
 ** content container **
 */

.canvas {
  width: 96%;
  min-height: 100vh;
  height: 100%;
  float: right;
  background-color: $bg-canvas;
}

/*
 ** div in the center of the canvas**
 */

.centered {
  float: none;
  margin: 0 auto;
}

/*
 ** text to uppercase **
 */

.uppercase {
  text-transform: uppercase;
}


/*
 ** linkse inspringend
 */

.offset-left-1 {
  margin-left: 25px;
}
