/*
*
* Fonts */
@font-face {
  font-family: choplin-light;
  src: url(/fonts/Choplin-ExtraLight.otf); }
@font-face {
  font-family: choplin-medium;
  src: url(/fonts/Choplin-Medium.otf); }
/*
 *
 * Define layouts for mediaqueries*/
/*
*
* main colors */
/*
*
* category colours */
/*
*
* navigation */
/*
*
* home */
/*
*
* carousel */
/*
*
* products - hot items */
/*
*
* newsletter */
/*
*
* about form */
/*
*
* breadcrumb */
/*
*
* price slider */
/*
*
* sort by */
/*
*
* product detail */
/*
*
* screen overlays */
/*
*
* mixins */
/*
*
* main settings */
body {
  height: 100%; }

/*
*
* content container */
.container {
  margin: 0;
  padding: 0;
  float: right;
  width: calc(100% - 60px) !important;
  background-color: #444546;
  min-height: 100vh; }

/*
*
* center div*/
.centered {
  float: none;
  margin: 0 auto; }

/*
*
* text to uppercase */
.uppercase {
  text-transform: uppercase; }

i {
  cursor: pointer; }

.logo {
  position: absolute;
  z-index: 3;
  left: 40%;
  top: 7%; }

.link-to-more {
  margin-top: 10px;
  float: right; }
  .link-to-more a {
    font-family: choplin-medium;
    text-decoration: none;
    color: #ffffff; }

/*****************
* cookie styling *
******************/
.cookie-screen-overlay {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100vmax;
  background-color: rgba(0, 0, 0, 0.7); }

.cookie-consent {
  background-color: #f7eade;
  position: absolute;
  z-index: 100;
  width: 29%;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .cookie-consent .cookie-content {
    margin-top: 30px;
    padding: 35px 70px;
    font-family: 'Arial', sans-serif; }
    .cookie-consent .cookie-content h1 {
      color: #e27500;
      font-family: choplin-medium; }
  .cookie-consent .cookie-image {
    position: absolute;
    left: -50px;
    top: -20px; }
  .cookie-consent .cookie-consent__agree {
    width: 100%;
    padding: 15px;
    background-color: #e27500;
    font-size: 1.3em;
    border: none;
    margin-top: 30px; }
  .cookie-consent .cookie-close-tag {
    color: #e27500;
    position: absolute;
    font-size: 1.5em;
    top: 10px;
    right: 20px; }

/*
 *
 * Media Queries
 *
 */
/*
 * Layout 01 & Layout 02 - - - 0px - 767px */
@media all and (max-width: 767px) {
  .carousel-inner {
    width: 100%;
    height: 25vh !important; } }
/*
 * Layout 02 ipad portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .fade-carousel {
    height: 25vh; }
    .fade-carousel .carousel-inner .item {
      height: 25vh !important; }

  .animal {
    width: 140px !important; }

  .link-to-more {
    display: none; }

  .subscribe h3,
  .subscribe span {
    margin-left: 10%; }

  .newsletter .form-subscribe input {
    width: 60% !important;
    margin-left: 10%; }

  .header {
    height: 25vh !important;
    background-size: cover; }
    .header .logo {
      top: 4%; }

  .product-big-article {
    display: none; }

  .price-slider-articles {
    margin-top: 30px; }
    .price-slider-articles input[type="text"] {
      margin-left: 0;
      margin-right: 20px; }

  .screen-overlay {
    width: 94% !important; }

  .container-articles .left {
    width: 100% !important;
    flex-direction: row !important; }

  .container-articles .bovenste-left,
  .container-articles .products .product:first-child {
    display: none; }

  .container-articles .bovenste-rechts {
    width: 100% !important; }

  .container-articles .onderste-left,
  .container-articles .bovenste-rechts {
    margin-left: 7px !important; } }
/*
 * Layout 03 - - - 767px - 1025px */
@media all and (min-width: 768px) and (max-width: 1025px) {
  .nomobile {
    display: none; }

  .logo {
    left: 35% !important; }

  .breadcrumb {
    width: 100%; }

  .obligatory {
    width: 100%; }

  .container-article-detail-left {
    width: 40% !important; }

  .container-article-detail-right {
    width: 60% !important; }
    .container-article-detail-right .obligatory {
      display: none !important; }
    .container-article-detail-right h2 {
      margin: 0px; } }
/*
 * Layout 04 - - - 1024px - ... */
/*******************
 * Navigation menu *
 *******************/
.sidenav, .sidenav-big {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  width: 60px;
  min-height: 100vh;
  height: 100vmax;
  background-color: #313233;
  position: fixed;
  z-index: 10; }
  .sidenav a, .sidenav-big a {
    text-decoration: none;
    font-size: 1.3em;
    color: #ffffff; }
    .sidenav a:nth-child(-n+4), .sidenav-big a:nth-child(-n+4) {
      opacity: 0.5; }
    .sidenav a span, .sidenav-big a span {
      pointer-events: none; }
  .sidenav hr, .sidenav-big hr {
    width: 80%;
    opacity: 0.3; }
  .sidenav .sidenav-text, .sidenav-big .sidenav-text {
    opacity: 0;
    position: absolute;
    left: 75px;
    margin-top: -34px;
    white-space: nowrap; }

.nav-bottom {
  position: absolute;
  top: 95vh;
  left: 17px;
  width: 21px;
  overflow: hidden; }

/*
 *
 * sprite-image positioning */
.nav-item {
  height: 52px;
  width: 60px;
  background: url("/img/nav/nav-basic-sprite1.png");
  background-repeat: no-repeat; }

.nav-expend {
  background-position-y: 0px; }

.search {
  background-position-y: -52px; }

.faq {
  background-position-y: -104px; }

.contact {
  background-position-y: -156px; }

.dogarticle {
  background-position-y: -208px; }

.catarticle {
  background-position-y: -260px; }

.fisharticle {
  background-position-y: -312px; }

.birdarticle {
  background-position-y: -364px; }

.smallarticle {
  background-position-y: -416px; }

/*
 *
 * sprite-image positioning on hover and active status */
.birdarticle:hover,
.catarticle:hover,
.contact:hover,
.dogarticle:hover,
.faq:hover,
.fisharticle:hover,
.search:hover,
.smallarticle:hover {
  background-position-x: -60px; }

.active {
  background-position-x: -60px; }

/*
 *
 * navbar expend */
.sidenav-big {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  width: 220px; }
  .sidenav-big .sidenav-text {
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    transition: 1.5s;
    opacity: 1; }
  .sidenav-big .nav-bottom {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    width: 220px; }
  .sidenav-big span {
    pointer-events: auto; }

/************
 * Carousel *
 ************/
.fade-carousel {
  height: 50%;
  width: 100%; }
  .fade-carousel .carousel-inner .item {
    height: 50vh; }
  .fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #ffffff;
    border-color: #959595; }
  .fade-carousel .slides, .fade-carousel .slide-1, .fade-carousel .slide-2 {
    height: 100vh;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; }
  .fade-carousel .slide-1 {
    background-image: url(/img/carousel/img_dog1.png); }
  .fade-carousel .slide-2 {
    background-image: url(/img/carousel/img_dog2.png); }

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  background-color: #323232;
  opacity: 1; }

/*********************
* home page layout *
*********************/
.intro {
  margin-top: 50px;
  color: #ffffff;
  text-align: center;
  font-family: "Arial", sans-serif; }

/*
*
* categories */
.categories {
  margin-top: 50px;
  display: flex;
  justify-content: space-around; }

.animal {
  height: 105px;
  width: 160px;
  background: url("/img/categories/category-sprite1.png");
  background-repeat: no-repeat;
  border-right: 1px solid #616161;
  text-align: center; }
  .animal p {
    font-family: choplin-light;
    margin-top: 90px;
    color: #ffffff;
    font-size: 1.2em; }

.dogcategory {
  background-position-x: 0px; }

.catcategory {
  background-position-x: -160px; }

.fishcategory {
  background-position-x: -320px; }

.birdcategory {
  background-position-x: -480px; }

.smallcategory {
  background-position-x: -640px; }
  .smallcategory p {
    margin-top: 80px; }

.othercategory {
  background-position-x: -800px;
  border: none; }

/*
*
* hot products */
.hot-products {
  margin-top: 50px;
  color: #ffffff; }
  .hot-products .product {
    margin: 0 5px; }
  .hot-products h1,
  .hot-products h4 {
    font-family: Choplin-Medium; }
  .hot-products .products {
    display: flex;
    justify-content: space-between;
    z-index: 2; }
    .hot-products .products .product {
      flex-grow: 1; }
      .hot-products .products .product:first-child {
        margin-left: 0 !important; }
      .hot-products .products .product:last-child {
        margin-right: 0 !important; }

/***********************
* search + faq overlay *
************************/
.screen-overlay {
  display: none;
  position: absolute;
  height: 100vmax;
  width: calc(100% - 60px);
  right: 0;
  opacity: 0.97;
  background-color: #ffffff;
  z-index: 16; }

.screen-overlay-content {
  margin-top: 50px; }
  .screen-overlay-content .close {
    position: absolute;
    top: 30px;
    right: 40px; }
  .screen-overlay-content .result {
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .screen-overlay-content .suggestion {
    margin-top: 20px; }
    .screen-overlay-content .suggestion a,
    .screen-overlay-content .suggestion a:active {
      text-decoration: underline;
      color: #000000; }

.search-overlay-filter h3 {
  font-weight: normal; }
.search-overlay-filter .price-slider {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; }
.search-overlay-filter .ui-slider-handle {
  background-color: #000000; }

.overlay-input h1 {
  color: #e0751f;
  font-family: choplin-medium; }
.overlay-input .wrap {
  margin: 100px 0;
  position: relative;
  height: 60px;
  padding: 0; }
.overlay-input input[type="text"] {
  font-size: 45px;
  display: inline-block;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  color: #e0751f;
  padding: 3px 3px 3px 80px;
  width: 100%;
  position: absolute;
  background: none;
  z-index: 1;
  cursor: text; }
  .overlay-input input[type="text"]::-webkit-input-placeholder {
    color: #e0751f; }
.overlay-input .faq-search,
.overlay-input .faq-search::-webkit-input-placeholder {
  color: #535353 !important;
  font-family: "Arial", sans-serif !important; }
.overlay-input input[type="submit"] {
  height: 67px;
  min-width: 63px;
  display: inline-block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  z-index: 2;
  cursor: pointer; }
.overlay-input .input-bar {
  display: flex;
  justify-content: space-between;
  margin-top: -80px; }
  .overlay-input .input-bar .clear-overlay-input {
    cursor: pointer; }

/**************
 ** product **
 **************/
.product {
  position: relative;
  margin: 15px 0;
  padding: 3px;
  border: 1px solid #717171;
  background-color: #565656;
  color: #ffffff; }
  .product img {
    width: 100%;
    height: 85%; }
  .product:hover .overlay, .product:hover .overlay-dog, .product:hover .overlay-cat, .product:hover .overlay-fish, .product:hover .overlay-bird, .product:hover .overlay-hamster, .product:hover .overlay-grey {
    animation-name: overlay-product;
    animation-duration: 0.9s;
    visibility: inherit; }
  .product p {
    position: relative;
    margin-left: 7px;
    font-weight: bold;
    margin-top: 4px;
    z-index: 30; }
  .product span {
    position: relative;
    float: right;
    margin-right: 7px;
    font-weight: normal;
    z-index: 30; }
  .product .overlay, .product .overlay-dog, .product .overlay-cat, .product .overlay-fish, .product .overlay-bird, .product .overlay-hamster, .product .overlay-grey {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    width: 98%;
    height: 83%;
    background: url("/img/hot_items/overlay.png") no-repeat center; }
  .product .overlay-dog {
    background-color: #fd719e; }
  .product .overlay-cat {
    background-color: #888afc; }
  .product .overlay-fish {
    background-color: #fdb84c; }
  .product .overlay-bird {
    background-color: #80fd87; }
  .product .overlay-hamster {
    background-color: #7fe5fd; }
  .product .overlay-grey {
    background-color: #ffffff; }

@keyframes overlay-product {
  from {
    opacity: 0; }
  to {
    opacity: 0.8; } }
/*
*
* product-spread */
.product-spread {
  position: relative;
  z-index: 4 !important; }
  .product-spread:after {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    right: -8px;
    bottom: 0;
    border-top: 5px solid #808182;
    border-right: 5px solid #808182;
    z-index: -1; }
  .product-spread:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 15px;
    right: -15px;
    bottom: 0;
    border-top: 5px solid #cfd0d1;
    border-right: 5px solid #cfd0d1;
    z-index: -1; }

.product-big,
.product-big-article {
  padding: 3px;
  height: auto;
  max-height: 515px !important;
  background-color: #565656;
  color: #ffffff; }
  .product-big img,
  .product-big-article img {
    width: 100%; }
  .product-big .btn-big, .product-big .btn-big-dog, .product-big .btn-big-cat, .product-big .btn-big-fish, .product-big .btn-big-bird, .product-big .btn-big-hamster,
  .product-big-article .btn-big,
  .product-big-article .btn-big-dog,
  .product-big-article .btn-big-cat,
  .product-big-article .btn-big-fish,
  .product-big-article .btn-big-bird,
  .product-big-article .btn-big-hamster {
    width: 200px !important;
    float: right;
    border: none;
    padding: 5px; }
  .product-big .btn-big-dog,
  .product-big-article .btn-big-dog {
    background-color: #fd719e; }
  .product-big .btn-big-cat,
  .product-big-article .btn-big-cat {
    background-color: #888afc; }
  .product-big .btn-big-fish,
  .product-big-article .btn-big-fish {
    background-color: #fdb84c; }
  .product-big .btn-big-bird,
  .product-big-article .btn-big-bird {
    background-color: #80fd87; }
  .product-big .btn-big-hamster,
  .product-big-article .btn-big-hamster {
    background-color: #7fe5fd; }
  .product-big h4,
  .product-big p,
  .product-big span,
  .product-big-article h4,
  .product-big-article p,
  .product-big-article span {
    margin-left: 15px; }

.circles {
  position: absolute;
  z-index: 1;
  display: flex;
  margin-top: 5px;
  margin-left: 5px; }

.circle, .circle1, .circle2, .circle3 {
  width: 15px;
  height: 15px;
  margin: 2px;
  border: 1px solid #ffffff;
  border-radius: 50%; }

.circle1 {
  background-color: #ffffff; }

.circle2 {
  background-color: #2c2a2a; }

.circle3 {
  background-color: #2d4ca8; }

/****************
** Newsletter **
****************/
.newsletter {
  margin-top: 50px;
  margin-bottom: 150px; }
  .newsletter .adv {
    height: 200px;
    background-color: green;
    background-image: url(/img/newsletter/discover.png);
    text-align: center;
    color: #ffffff;
    font-family: choplin-medium; }
    .newsletter .adv h1 {
      margin-top: 20px; }
    .newsletter .adv h4 {
      line-height: 120px;
      vertical-align: bottom; }
  .newsletter .subscribe {
    height: 200px;
    background-color: #5f5f5f;
    color: #ffffff; }
    .newsletter .subscribe h3 {
      margin-top: 35px; }
    .newsletter .subscribe span {
      opacity: .6; }
  .newsletter .form-subscribe {
    margin: 25px 0 25px 0;
    color: #000000; }
    .newsletter .form-subscribe button {
      background-color: #323232;
      color: #ffffff;
      border: none;
      height: 3em;
      width: 3em; }
    .newsletter .form-subscribe input {
      height: 2.9em;
      width: 80%; }

.breadcrumb {
  background-color: inherit;
  color: #ffffff;
  padding-left: 0; }
  .breadcrumb a {
    padding: 5px 10px 5px 0px;
    text-decoration: none; }
  .breadcrumb .tag, .breadcrumb .tag2 {
    margin-left: 10px;
    background-color: #272727;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px; }
    .breadcrumb .tag:before, .breadcrumb .tag2:before {
      content: "";
      position: absolute;
      border-right: 11px solid #272727;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
      left: 51px;
      top: 0; }
    .breadcrumb .tag p, .breadcrumb .tag2 p {
      margin: 0; }
  .breadcrumb .tag2:before {
    left: 124px; }

/*
*
* tag color in breadcrumb */
.circle-category, .circle-category-dog, .circle-category-cat, .circle-category-fish, .circle-category-bird, .circle-category-hamster {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  position: absolute;
  left: 60px;
  top: 5px; }

.circle-category-dog {
  background-color: #fd719e; }

.circle-category-cat {
  background-color: #fd719e; }

.circle-category-fish {
  background-color: #fd719e; }

.circle-category-bird {
  background-color: #fd719e; }

.circle-category-hamster {
  background-color: #fd719e; }

.questions {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  color: #ffffff;
  padding-left: 0;
  padding-right: 0; }
  .questions .title h4 {
    font-family: choplin-medium; }
  .questions .item {
    background-color: #5f5f5f;
    margin-bottom: 15px;
    font-family: "Arial", sans-serif; }
    .questions .item .split {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .questions .item h4 {
      margin-left: 15px; }
  .questions .collapse {
    padding-bottom: 10px; }

/*********************
** About page **
*********************/
.header {
  height: 50vh;
  width: 100%;
  background-image: url(/img/about/about.png); }

/*
*
* breadcrumb */
.indicator {
  margin: 60px 0 40px 0;
  display: flex; }

/*
*
* question dropdown animation */
.rotate {
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  transform: rotateZ(-90deg); }

.rotateZ {
  -webkit-transform: rotateZ(1deg);
  -moz-transform: rotateZ(1deg);
  -ms-transform: rotateZ(1deg);
  transform: rotateZ(1deg);
  transition-duration: .5s; }

.about {
  color: #ffffff; }
  .about h2,
  .about h4 {
    font-family: choplin-medium; }
  .about .contact {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .about .contact h4 {
      margin-left: 25px; }
  .about .content {
    margin-top: 30px; }

/*
*
* form */
.message {
  margin-top: 50px !important;
  min-height: 50px;
  color: #ffffff; }
  .message label {
    font-size: 1.2em;
    font-weight: lighter; }
  .message h4 {
    font-family: choplin-medium; }
  .message .email {
    width: 20%;
    border-radius: 0; }
  .message .textarea {
    width: 75%;
    border-radius: 0; }

button {
  border-radius: 0px !important;
  width: 20%;
  background-color: #ff6493;
  color: #ffffff; }
  button:hover {
    background-color: #ff6493;
    color: #ffffff !important; }
  button:focus {
    outline: none !important;
    color: #ffffff !important; }

.filter,
.sort {
  color: #ffffff; }
  .filter h2,
  .sort h2 {
    font-family: choplin-medium; }

.filters {
  display: flex;
  align-items: baseline;
  padding-bottom: 30px; }
  .filters label {
    padding-right: 30px; }

.collection p {
  font-size: 1.2em; }

.range label {
  padding-bottom: 15px;
  font-size: 1.2em;
  font-weight: normal; }

.ui-slider-handle {
  border-radius: 50%;
  background-image: none !important;
  background-color: #ffffff; }

.ui-widget-header {
  background-image: none;
  background-color: #9a9a9a; }

.price-slider-articles {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-left: 10px; }
  .price-slider-articles input {
    border: 1px solid #9a9a9a;
    color: #000000;
    font-weight: normal;
    padding: 8px;
    margin-top: -15px; }

.bootstrap-select .btn-default,
.bootstrap-select .btn-default:active {
  color: #cecece;
  background-color: #616161;
  border: none;
  border-radius: 0px; }
.bootstrap-select .btn-default:focus,
.bootstrap-select a:focus {
  outline: none !important; }
.bootstrap-select .dropdown-menu {
  border: none;
  background-color: #ffffff;
  border-radius: 0px;
  color: #454545; }
  .bootstrap-select .dropdown-menu li a {
    color: #454545;
    padding: 8px 10px; }
    .bootstrap-select .dropdown-menu li a:hover + .bootstrap-select .dropdown-menu li a:active + li.selected a {
      background: #e9e9e9;
      color: #454545; }

.bootstrap-select.open .btn-default,
.bootstrap-select.open .btn-default:hover {
  color: #cecece;
  background-color: #616161;
  border: none;
  border-radius: 0px; }

.container-articles {
  float: none;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start; }
  .container-articles .left {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .container-articles .left .boven,
    .container-articles .left .onder {
      height: 50%;
      display: flex; }
    .container-articles .left .bovenste-left,
    .container-articles .left .onderste-left {
      width: 50%;
      margin: 5px;
      margin-left: 0; }
    .container-articles .left .bovenste-rechts,
    .container-articles .left .onderste-rechts {
      width: 50%;
      margin: 5px; }
  .container-articles .rechts {
    height: 50%;
    width: 50%;
    display: flex; }
    .container-articles .rechts .grote {
      margin: 5px;
      width: 100%;
      margin-right: 0; }
  .container-articles .products {
    width: 100%;
    display: flex;
    z-index: 2; }
    .container-articles .products .product {
      flex-grow: 1;
      margin: 0px 5px 0px 5px; }
      .container-articles .products .product:first-child {
        margin-left: 0 !important; }
      .container-articles .products .product:last-child {
        margin-right: 0 !important; }

/********************
** article detail **
********************/
/*
*
* specifications */
.container-article-detail {
  padding: 0;
  margin-top: 50px;
  display: flex;
  float: none;
  color: #ffffff; }
  .container-article-detail .container-article-detail-left {
    background-color: #565758;
    margin-right: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid #717171; }
    .container-article-detail .container-article-detail-left .image-big {
      width: calc(100%-5px);
      margin: 5px; }
      .container-article-detail .container-article-detail-left .image-big img {
        width: 100%; }
    .container-article-detail .container-article-detail-left .images-small {
      width: calc(100%-5px);
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .container-article-detail .container-article-detail-left .images-small img {
        max-width: 100%;
        max-height: 100%; }
      .container-article-detail .container-article-detail-left .images-small .image-margin, .container-article-detail .container-article-detail-left .images-small .image-left, .container-article-detail .container-article-detail-left .images-small .image-center,
      .container-article-detail .container-article-detail-left .images-small .image-right {
        margin: 5px 5px 0 5px; }
      .container-article-detail .container-article-detail-left .images-small .image-left img {
        border: 1px solid #ffffff; }
      .container-article-detail .container-article-detail-left .images-small .image-center,
      .container-article-detail .container-article-detail-left .images-small .image-right {
        filter: grayscale(35%); }
  .container-article-detail .container-article-detail-right {
    margin-left: 20px;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .container-article-detail .container-article-detail-right .breadcrumb {
      margin-bottom: 0; }
    .container-article-detail .container-article-detail-right .indicator {
      margin: 0; }
    .container-article-detail .container-article-detail-right .article-specifications {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-around; }
      .container-article-detail .container-article-detail-right .article-specifications .circles {
        position: relative;
        margin-left: 0; }
    .container-article-detail .container-article-detail-right .obligatory {
      display: flex; }
      .container-article-detail .container-article-detail-right .obligatory .o-square, .container-article-detail .container-article-detail-right .obligatory .o-circle {
        background-color: #828282;
        border: 1px solid #313131;
        width: 50px;
        height: 50px; }
      .container-article-detail .container-article-detail-right .obligatory .o-circle {
        border-radius: 50%;
        margin-left: 20px; }

.dimentions {
  color: #ffffff;
  border: 1px solid #717171;
  margin-top: 20px;
  font-family: "Arial", sans-serif; }

.row-horizon img {
  height: 100%; }

.row-horizon .product .overlay, .row-horizon .product .overlay-dog, .row-horizon .product .overlay-cat, .row-horizon .product .overlay-fish, .row-horizon .product .overlay-bird, .row-horizon .product .overlay-hamster, .row-horizon .product .overlay-grey {
  height: 97%; }

.side-scroll-container {
  position: relative; }
  .side-scroll-container .left-arrow, .side-scroll-container .right-arrow {
    position: absolute;
    overflow: visible;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #ffffff;
    left: 0;
    z-index: 5;
    text-align: center;
    top: 120px;
    left: 10px; }
    .side-scroll-container .left-arrow i, .side-scroll-container .right-arrow i {
      color: #000000;
      line-height: 35px; }
  .side-scroll-container .right-arrow {
    right: 0;
    left: auto;
    right: 10px; }
  .side-scroll-container .products-container {
    overflow: hidden; }
    .side-scroll-container .products-container .product {
      min-width: 27%; }

/*# sourceMappingURL=style.css.map */
