
.fade-carousel {
    height: 50vh;
    width: 96%;
    float: right;

    .carousel-inner .item {
        height: 50vh;
    }

    .carousel-indicators > li {
        margin: 0 2px;
        background-color: $bg-carousel-indicator;
        border-color: $border-carousel-indicator;
    }

    .slides {
      height: 100vh;
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
    }

    .slide-1 {
      @extend .slides;
      background-image: url(/img/carousel/img_dog1.png);
    }

    .slide-2 {
      @extend .slides;
      background-image: url(/img/carousel/img_dog2.png);    }

    .slide-3 {
      @extend .slides;
      background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
    }
}

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  background-color: $bg-carousel-indicator-active;
  opacity: 1;
}

.logo {
  position: absolute;
  z-index: 20;
  left: 40%;
  top: 15%;
}
