
// colors //

$bg-nav: #313233;
$bg-content: #444546;
$white: #ffffff;
$black: #000000;


//color carousel-indicators
$border-carousel-indicator: #959595;
$bg-carousel-indicator: #ffffff;
$bg-carousel-indicator-active: #323232;


//products
$bg-product: #565656;


//newsletter
$bg-subscribe: #5f5f5f;
$bg-button-newsletter: #323232;


//about form
$bg-button-message: #ff6493;
