.filter,
.sort {
  color: $white;

  h2 {
    font-family: choplin-medium;
  }
}

.filters {
  display: flex;
  align-items: baseline;
  padding-bottom: 30px;

  label {
    padding-right: 30px;
  }
}

.collection p {
  font-size: 1.2em;
}

.range label {
  padding-bottom: 15px;
  font-size: 1.2em;
  font-weight: normal;;
}


// price slider
.ui-slider-handle {
  border-radius: 50%;
  background-image: none !important;
  background-color: $white;
}

.ui-widget-header {
  background-image: none;
  background-color: $bg-filter-slider;
}


// sort by
.bootstrap-select {
  .btn-default,
  .btn-default:active {
    color: $color-text-active;
    background-color: $bg-sort;
    border: none;
    border-radius: 0px;
  }

  .btn-default:focus,
  a:focus{
    outline: none !important;
  }

  .dropdown-menu {
    border: none;
    background-color: $white;
    border-radius: 0px;
    color: $color-text-non-active;

    li a {
      color: $color-text-non-active;
      padding: 8px 10px;

      &:hover + &:active + li.selected a{
        background: $bg-sort-hover;
        color: $color-text-non-active;
      }

    }

  }
}

.bootstrap-select.open .btn-default,
.bootstrap-select.open .btn-default:hover {
  color: $color-text-active;
  background-color: $bg-sort;
  border: none;
  border-radius: 0px;
}

.tet3 {
  padding: 0;
  margin-top: 15px;
}
