.breadcrumb {
  background-color: inherit;
  color: $white;
  padding-left: 0;

  a {
    padding: 5px 10px 5px 0px;
    text-decoration: none;
  }

  .tag {
    margin-left: 10px;
    background-color: $bg-breadcrumb;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;

    &:before{
      content:"";
      position:absolute;
      border-right:11px solid $bg-breadcrumb;
      border-top:11px solid transparent;
      border-bottom:11px solid transparent;
      left:51px;
      top:0;
    }

    p {
      margin: 0;
    }
  }

  .tag2 {
    @extend .tag;
    &:before {
      left: 124px;
    }
  }



}
