
.fade-carousel {
    height: 50vh;
    width: 96%;
    float: right;

    .carousel-inner .item {
        height: 50vh;
    }

    .carousel-indicators > li {
        margin: 0 2px;
        background-color: $bg-carousel-indicator;
        border-color: $border-carousel-indicator;
    }

    .slides {
      height: 100vh;
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
    }

    .slide-1 {
      @extend .slides;
      background-image: $img-slide1;
    }

    .slide-2 {
      @extend .slides;
      background-image: $img-slide2;
    }

}

.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  background-color: $bg-carousel-indicator-active;
  opacity: 1;
}

.logo {
  position: absolute;
  z-index: 3;
  left: 40%;
  top: 7%;
}
