
/**************
 ** products **
 **************/

.hot-products {
  margin-top: 50px;
  color: $white;


  .products {
    display: flex;
    justify-content: space-between;
  }

  .discover {
    float: right;

    a {
      text-decoration: none;
      color: $white;
    }
  }
}

.product {
  margin: 15px 0px 15px 0px;
  padding: 5px;
  border: 1px solid $product-border;
  height: auto;
  background-color: $bg-product;
  color: $white;

  p {
    margin-left: 7px;
    font-weight: bold;
    margin-top: 4px;
  }

  span {
    float: right;
    margin-right: 7px;
    font-weight: normal;
  }
}

// 
// .overlay {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: 2;
//     background-color: #080d15;
//     opacity: .7;
//     right: 0;
// }
