
/*********************
 ** Navigation menu **
 *********************/

.sidenav {
  @include transition(.5s);
  width: 60px;
  height: 100vh;
  background-color: $bg-nav;
  position: fixed;
  z-index: 10;

  a {
    text-decoration: none;
    font-size: $font-size-nav;
    color: $white;

    &:nth-child(-n+4) {
      opacity: .5;
    }
  }

  hr {
    width: 80%;
    opacity: .3;
  }

  .sidenav-text {
    opacity: 0;
    position: absolute;
    left: 75px;
    margin-top: -34px;
    white-space: nowrap;
  }
}

.nav-bottom {
  position: absolute;
  bottom: 15px;
  left: 17px;
  width: 21px;
  overflow: hidden;
}


/*
 *
 * sprite-image positioning */

.nav-item {
  height: $nav-sprite-icon-height;
  width: $nav-sprite-icon-width;
  background: $nav-sprite-image;
  background-repeat: no-repeat;
}

.nav-expend {
  background-position-y: -($nav-sprite-icon-height*0);
}

.search {
  background-position-y: -($nav-sprite-icon-height*1);
}

.faq {
  background-position-y: -($nav-sprite-icon-height*2);
}

.contact {
  background-position-y: -($nav-sprite-icon-height*3)
}

.dogarticle {
  background-position-y: -($nav-sprite-icon-height*4);
}

.catarticle {
  background-position-y: -($nav-sprite-icon-height*5);
}

.fisharticle {
  background-position-y: -($nav-sprite-icon-height*6);
}

.birdarticle {
  background-position-y: -($nav-sprite-icon-height*7);
}

.smallarticle {
  background-position-y: -($nav-sprite-icon-height*8);
}



/*
 *
 * sprite-image positioning on hover and active status */

.search,
.faq,
.contact,
.dogarticle,
.catarticle,
.fisharticle,
.birdarticle,
.smallarticle{
  &:hover {
    background-position-x: -($nav-sprite-icon-width);
  }
}

.active {
  background-position-x: -($nav-sprite-icon-width);
}



/*
 *
 * navbar expend */

.sidenav-big {
  @extend .sidenav;
  @include transition(.5s);
  width: 220px;

  .sidenav-text {
    @include transition(1.5s);
    opacity: 1;
  }

  .nav-bottom{
    @include transition(.5s);
    width: 220px;
  }
}
