.error-title {
  font-family: choplin-light;
  color: $white;
  text-align: center;
  margin-top: 100px;

  a {
    color: $white;
    text-decoration: underline;

  }
}

.error-img{
  width: 100%;
  height: 95vh;
  background-image: url('/img/error.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 0;
}
