/*
 *
 * Media Queries
 *
 */

/*
 * Layout 01 & Layout 02 - - - 0px - 767px */
 @media only screen and (max-device-width : 767px){
  .fade-carousel{
    height: 15%;

    .carousel-inner .item {
      height: 20vh !important;
    }
  }

  .header {
    height: 25vh !important
  }

  .container {
    width: 100% !important;
  }

  .sidenav {
    background: none !important;

    a:not(:first-child),
    hr{
      display: none;
    }
  }

  .sidenav-big {
    position: fixed;
    z-index: 99 !important;
    background-color: $bg-nav !important;
    a:not(:first-child),
    hr{
      display: inherit;
    }
  }

  .categories .col-sm-2{
    width: 50%;
  }

  .adv,
  .subscribe {
    width: 100%;
  }

  .about .content >div {
    width: 100%;
  }

  .product-big-article{
    display: none;
  }

  .product .overlay-dog {
    width: 100% !important;
    height: 92% !important;
  }

  .left,
  .upper-left,
  .upper-right,
  .under-right,
  .under-left {
    width: 100% !important;
  }

  .left .upper,
  .left .under {
    flex-direction: column;
  }

  .bootstrap-select {
    width: 42vh !important;
  }

  .price-slider-articles {
    margin-top: 40px;
  }

  .container-article-detail {
    flex-direction: column;

    .container-article-detail-left,
    .container-article-detail-right {
      width:100% !important;
      margin-left: 0 !important;
      position: inherit !important;

    }
    .breadcrumb,
    .article-specifications .title,
    .article-specifications .price {
      position: absolute;
      top: 0;
    }

    .article-specifications .title, {
      top: 60px;
    }

    .article-specifications .price{
      top: 100px;
    }
  }

  .container-article-detail-left {
    margin-top: 150px;
    margin-bottom: 20px;
  }

  .container-articles .products{
    display: flex;
    flex-direction: column;

  }


}

/*
 * Layout 02 tablet portrait */
 @media only screen
 and (min-device-width : 768px)
 and (max-device-width : 1024px)
 and (orientation : portrait) {
// home screen
  .fade-carousel{
    height: 25vh;

    .carousel-inner .item {
      height: 25vh !important;
    }
  }

  .animal {
    width: 140px !important;
  }

  .link-to-more {
    display: none;
  }

  .subscribe h3,
  .subscribe span {
    margin-left: 10%;
  }

  .newsletter .form-subscribe input {
    width: 60% !important;
    margin-left: 10%;
  }


  // about page
  .header {
    height: 25vh !important;
    background-size: cover;

    .logo {
      top: 4%;
    }
  }



  //dogarticle

  .product-big-article {
    display: none;
  }

  .price-slider-articles {
    margin-top: 30px;

    input[type="text"] {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  .screen-overlay {
    width: 94% !important;
  }

  .container-articles .left {
    width: 100% !important;
    height: 50%;
    flex-direction: row !important;
  }

  .container-articles .upper-left,
  .container-articles .products .product:first-child {
    display: none;
  }

  .container-articles .upper-right{
    width: 100% !important;
  }

  .container-articles .under-left,
  .container-articles .upper-right{
    margin-left: 7px !important;
  }

  //articledetail
  .container-article-detail {
    flex-direction: column;

    .container-article-detail-left {
      width: 100% !important;
      flex-direction: row !important;

      .image-big {
        width: 80%;
      }

      .images-small {
        flex-direction: column-reverse !important;
        height: 100%;

        img {
          max-height: 80px !important;
        }

      }
    }

    .container-article-detail-right {
      height: auto !important;
      width: 100% !important;
      position: relative;
      margin-left: 0 !important;

      .breadcrumb {
        position: absolute;
        top: -400px;
      }

      .article-specifications {
        margin-top: 40px;
      }

      .colors {
        position: absolute;
        right: 0;
        top: 40px;
      }
    }
  }

}








/*
 * Layout 03 - - - 767px - 1025px */
@media all and (min-width: ($layout-2 + 1px)) and (max-width: $layout-3) {

  .nomobile {
    display: none;
  }

  .logo {
    left: 35% !important;
  }

  .breadcrumb {
    width: 100%;
  }

  .obligatory {
    width: 100%;

  }

  .container-articles {
    // width: 100% !important;
    margin-right: 0 !important;
  }

  .container-article-detail-right {
    height: auto !important;

    .obligatory {
      display: none !important;
    }

    h2 {
      margin: 0px
    }
  }

}








/*
 * Layout 04 - - - 1024px - ... */
@media all and (min-width: ($layout-3 + 1px)) {

}
