/*
 *
 * Media Queries
 *
 */

/*
 * Layout 01 & Layout 02 - - - 0px - 767px */
@media all and (max-width: $layout-2) {

  .sidenav {
    display: none;
  }
  .container,
  .carousel-inner {
    width: 100%;
  }

  .carousel-inner {
    height: 25vh;
  }

}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .sidenav {
      display: none;
    }
    .container,
    .carousel-inner {
      width: 100%;
    }

    .carousel-inner {
      height: 25vh;
    }
}








/*
 * Layout 02 ipad portrait */
 @media only screen
 and (min-device-width : 768px)
 and (max-device-width : 1024px)
 and (orientation : portrait) {

  .container {
    width: 94% !important;
  }

// home screen
  .fade-carousel{
    height: 25vh;

    .carousel-inner .item {
      height: 25vh !important;
    }
  }

  .animal {
    width: 140px !important;
  }

  .link-to-more {
    display: none;
  }

  .subscribe h3,
  .subscribe span {
    margin-left: 10%;
  }

  .newsletter .form-subscribe input {
    width: 60% !important;
    margin-left: 10%;
  }


  // about page
  .header {
    height: 25vh !important;
    background-size: cover;

    .logo {
      top: 4%;
    }
  }



  //dogarticle

  .product-big-article {
    display: none;
  }

  .price-slider-articles {
    margin-top: 30px;

    input[type="text"] {
      margin-left: 0;
      margin-right: 20px;
    }
  }

  .screen-overlay {
    width: 94% !important;
  }

  .container-articles .links {
    width: 100% !important;
    flex-direction: row !important;
  }

  .container-articles .bovenste-links,
  .container-articles .products .product:first-child {
    display: none;
  }

  .container-articles .bovenste-rechts{
    width: 100% !important;
  }

  .container-articles .onderste-links,
  .container-articles .bovenste-rechts{
    margin-left: 7px !important;
  }
}








/*
 * Layout 03 - - - 767px - 1025px */
@media all and (min-width: ($layout-2 + 1px)) and (max-width: $layout-3) {

  .nomobile {
    display: none;
  }

  .logo {
    left: 35% !important;
  }

  .breadcrumb {
    width: 100%;
  }

  .obligatory {
    width: 100%;

  }
  //
  // .categories {
  //   margin-left: 0 !important;
  // }
  //
  // .logo{
  //   left: 35% !important;
  // }
  //

  //
  // .breadcrumb {
  //   margin-bottom: 0;
  //   padding: 0;
  // }
  //
  // .price-slider-articles input {
  //   width: 125px;
  //   margin: 0px 30px 0px 30px;
  // }
  //
  // .dogarticle .products img,
  // .dogarticle .products .overlay {
  //   width: 148px;
  //   height: 103px;
  // }
  //
  // .hot-products{
  //   // margin-right: 0px;
  //
  //   .products img,
  //   .products .overlay {
  //     width: 210px;
  //     height: 135px;
  //   }
  // }
  //
  // .hot-products .products .product {
  //   margin-right: 10px !important;
  // }
  //
  // .products .col-md-6 {
  //   padding-right: 5px !important;
  // }
  //
  // .product-big img {
  //   max-height: 150px;
  // }
  //
  // .product-big-article {
  //   height: 350px !important;
  // }
  //
  // .screen-overlay {
  //   width: 94% !important;
  //
  //   .overlay-input input[type="text"],
  //   .overlay-input input[type="submit"] {
  //     font-size: 2.7em !important;
  //   }
  // }
  //
  // .message .email {
  //   width: 45% !important;
  // }
  //
  // .message .textarea {
  //   width: 100% !important;
  // }

}








/*
 * Layout 04 - - - 1024px - ... */
@media all and (min-width: ($layout-3 + 1px)) {

}
