.questions {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  color: $white;

  .title {
    h4  {
      font-family: choplin-medium;
    }
  }

  .item {
    background-color: $bg-subscribe;
    margin-bottom: 15px;
    font-family: $font-family-main;

    .split {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    h4 {
      margin-left: 15px;
    }
  }

  .collapse {
    padding-bottom: 10px;
  }
}
