/*************
* About page *
**************/
.header {
    height: 50vh;
    width: 100%;
    background-image: $header-img;
}
/*
*
* breadcrumb */
.indicator {
    margin: 60px 0 40px;
    display: flex;
}
/*
*
* question dropdown animation */
.rotate {
    @include transform(rotateZ(-90deg));
}

.rotateZ {
    @include transform(rotateZ(1deg));
    transition-duration: 0.5s;
}

.about {
    color: $white;

    h2,
    h4 {
        font-family: choplin-medium;
    }

    .contact {
        border-left: $border-contact;
        border-bottom: $border-contact;

        h4 {
            margin-left: 25px;
        }
    }

    .content {
        margin-top: 30px;
    }
}
/*
*
* form */
.message {
    margin-top: 50px !important;
    min-height: 50px;
    color: $white;

    label {
        font-size: 1.2em;
        font-weight: lighter;
    }

    h4 {
        font-family: choplin-medium;
    }

    .email {
        width: 20%;
        border-radius: 0;
    }

    .textarea {
        width: 75%;
        border-radius: 0;
    }
}

button {
    border-radius: 0 !important;
    width: 20%;
    background-color: $bg-button-message;
    color: $white;

    &:hover {
        background-color: $bg-button-message;
        color: $white !important;
    }

    &:focus {
        outline: none !important;
        color: $white !important;
    }
}
