.animal {
  margin-top: 50px;
  height: 90px;
  border-right: 1px solid grey;
  text-align: center;
  text-transform: uppercase;

  &:last-child {
    border: none;
    padding-top: 20px;
  }

  p {
    padding-top: 15px;
    color: $white;
  }
}
