/*********************
* home page layout *
*********************/
.intro {
    margin-top: 50px;
    color: $white;
    text-align: center;
    font-family: $font-family-main;
}

/*
*
* categories */
.categories {
    margin-top: 50px;
}

.category-space {
  border-right: $border-category;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 5px;

  p {
      font-family: choplin-light;
      position: absolute;
      color: $white;
      font-size: 1.2em;
      bottom: 0px;
      text-align: center;
  }

  .except {
    bottom: -15px !important;
  }

  &:hover {
    background-color: $bg-category-hover;

    .dogcategory,
    .catcategory,
    .fishcategory,
    .birdcategory,
    .smallcategory,
    .othercategory {
        background-position-y: -($nav-sprite-icon-height + 14px);
    }
  }

}

.animal {
    height: $category-sprite-icon-height;
    min-width: $category-sprite-icon-width;
    background: $category-sprite-image;
    background-repeat: no-repeat;
    text-align: center;

    &:hover {
      background-color: $bg-category-hover;

      p {
        background-color:  $bg-category-hover;
      }
    }
}

.dogcategory {
    background-position-x: -($category-sprite-icon-width*0);
}

.catcategory {
    background-position-x: -($category-sprite-icon-width*1);
}

.fishcategory {
    background-position-x: -($category-sprite-icon-width*2);
}

.birdcategory {
    background-position-x: -($category-sprite-icon-width*3);
}

.smallcategory {
    background-position-x: -($category-sprite-icon-width*4);

}

.othercategory {
    background-position-x: -($category-sprite-icon-width*5);
}


/*
*
* hot products */
.hot-products {
    margin-top: 50px;
    color: $white;

    .product {
        margin: 0 5px;
    }

    h1,
    h4 {
        font-family: Choplin-Medium;
    }

    .products {
        display: flex;
        justify-content: space-between;
        z-index: 2;

        .product {
            flex-grow: 1;

            &:first-child {
                margin-left: 0 !important;
            }

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
}
